<!-- Related Posts -->
<div class="g-bg-secondary g-py-70">
  <div class="container">
    <h3 class="h6 g-font-primary g-font-weight-700 text-uppercase mb-4">Related Posts</h3>

    <!-- Carousel -->
    <div id="carouselCus3" class="js-carousel g-mx-minus-10"
         data-infinite="true"
         data-slides-show="4"
         data-lazy-load="ondemand"
         data-arrows-classes="u-arrow-v1 g-pos-abs g-top-minus-40 g-width-30 g-height-30 g-color-secondary-dark-v1 g-color-primary--hover"
         data-arrow-left-classes="fa fa-angle-left g-right-30"
         data-arrow-right-classes="fa fa-angle-right g-right-0">
      <div class="js-slide g-px-10">
        <!-- Article -->
        <article>
          <img class="img-fluid" src="/assets/img-temp/400x270/img17.jpg" alt="Image Description">

          <div class="g-bg-white g-pa-20">
            <h3 class="g-font-size-15"><a class="u-link-v5 g-color-main g-color-primary--hover" href="#">The Five Most Beautiful Phones</a></h3>
            <p class="g-font-size-13">We aim high at being focused on building relationships with clients.</p>

            <hr class="g-brd-secondary-light-v2 my-3">

            <!-- Info -->
            <ul class="d-flex list-inline mb-0">
              <li class="list-inline-item mx-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-pr-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                  5
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-px-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                  1
                </a>
              </li>
              <li class="list-inline-item ml-auto mr-0">
                <span class="d-inline-block g-color-secondary-dark-v1 g-font-size-12 g-px-5 g-py-4">
                  <i class="align-middle mr-1 icon-education-097 u-line-icon-pro"></i>
                  15 min ago
                </span>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </article>
        <!-- End Article -->
      </div>

      <div class="js-slide g-px-10">
        <!-- Article -->
        <article>
          <img class="img-fluid" src="/assets/img-temp/400x270/img11.jpg" alt="Image Description">

          <div class="g-bg-white g-pa-20">
            <h3 class="g-font-size-15"><a class="u-link-v5 g-color-main g-color-primary--hover" href="#">How to pursue happiness in XXIth century?</a></h3>
            <p class="g-font-size-13">We aim high at being focused on building relationships with clients.</p>

            <hr class="g-brd-secondary-light-v2 my-3">

            <!-- Info -->
            <ul class="d-flex list-inline mb-0">
              <li class="list-inline-item mx-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-pr-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                  5
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-px-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                  1
                </a>
              </li>
              <li class="list-inline-item ml-auto mr-0">
                <span class="d-inline-block g-color-secondary-dark-v1 g-font-size-12 g-px-5 g-py-4">
                  <i class="align-middle mr-1 icon-education-097 u-line-icon-pro"></i>
                  15 min ago
                </span>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </article>
        <!-- End Article -->
      </div>

      <div class="js-slide g-px-10">
        <!-- Article -->
        <article>
          <img class="img-fluid" src="/assets/img-temp/400x270/img18.jpg" alt="Image Description">

          <div class="g-bg-white g-pa-20">
            <h3 class="g-font-size-15"><a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Your healthy breakfast to start a day</a></h3>
            <p class="g-font-size-13">We aim high at being focused on building relationships with clients.</p>

            <hr class="g-brd-secondary-light-v2 my-3">

            <!-- Info -->
            <ul class="d-flex list-inline mb-0">
              <li class="list-inline-item mx-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-pr-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                  62
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-px-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                  11
                </a>
              </li>
              <li class="list-inline-item ml-auto mr-0">
                <span class="d-inline-block g-color-secondary-dark-v1 g-font-size-12 g-px-5 g-py-4">
                  <i class="align-middle mr-1 icon-education-097 u-line-icon-pro"></i>
                  14 min ago
                </span>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </article>
        <!-- End Article -->
      </div>

      <div class="js-slide g-px-10">
        <!-- Article -->
        <article>
          <img class="img-fluid" src="/assets/img-temp/400x270/img6.jpg" alt="Image Description">

          <div class="g-bg-white g-pa-20">
            <h3 class="g-font-size-15"><a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Orange is the new color for your room</a></h3>
            <p class="g-font-size-13">We aim high at being focused on building relationships with clients.</p>

            <hr class="g-brd-secondary-light-v2 my-3">

            <!-- Info -->
            <ul class="d-flex list-inline mb-0">
              <li class="list-inline-item mx-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-pr-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                  11
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-px-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                  0
                </a>
              </li>
              <li class="list-inline-item ml-auto mr-0">
                <span class="d-inline-block g-color-secondary-dark-v1 g-font-size-12 g-px-5 g-py-4">
                  <i class="align-middle mr-1 icon-education-097 u-line-icon-pro"></i>
                  13 min ago
                </span>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </article>
        <!-- End Article -->
      </div>

      <div class="js-slide g-px-10">
        <!-- Article -->
        <article>
          <img class="img-fluid" src="/assets/img-temp/400x270/img5.jpg" alt="Image Description">

          <div class="g-bg-white g-pa-20">
            <h3 class="g-font-size-15"><a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Traveling with her around the city</a></h3>
            <p class="g-font-size-13">We aim high at being focused on building relationships with clients.</p>

            <hr class="g-brd-secondary-light-v2 my-3">

            <!-- Info -->
            <ul class="d-flex list-inline mb-0">
              <li class="list-inline-item mx-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-pr-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                  96
                </a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="d-inline-block g-color-secondary-dark-v1 g-color-primary--hover g-font-size-12 g-text-underline--none--hover g-px-5 g-py-4" href="#">
                  <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                  38
                </a>
              </li>
              <li class="list-inline-item ml-auto mr-0">
                <span class="d-inline-block g-color-secondary-dark-v1 g-font-size-12 g-px-5 g-py-4">
                  <i class="align-middle mr-1 icon-education-097 u-line-icon-pro"></i>
                  12 min ago
                </span>
              </li>
            </ul>
            <!-- End Info -->
          </div>
        </article>
        <!-- End Article -->
      </div>
    </div>
  </div>
</div>
<!-- End Related Posts -->
