<link rel="stylesheet" href="/assets/vendor/icon-etlinefont/style.css">

<section class="container g-pt-100 g-pb-70">
    <!-- Icon Blocks -->
    <div class="mb-4">
      <h2 class="h4 text-uppercase mb-3">About <span class="g-color-primary">nature</span></h2>
      <div class="g-width-35 g-height-1 g-bg-primary"></div>
    </div>
    <div class="row">
      <div class="col-lg-4 u-icon-block--hover g-mb-40">
        <!-- Icon Blocks -->
        <div class="media g-mb-15">
          <div class="d-flex align-self-center mr-3">
            <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
              <i class="et-icon-book-open"></i>
            </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h5 g-color-black mb-0">爱好学习</h3>
          </div>
        </div>
        <p class="g-color-gray-dark-v4">
          积极而高效的学习，让我可以在非常短的时间之内解决从没见过的问题，
          这也让我快速的成长
        </p>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 u-icon-block--hover g-mb-40">
        <!-- Icon Blocks -->
        <div class="media g-mb-15">
          <div class="d-flex align-self-center mr-3">
            <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
              <i class="et-icon-strategy"></i>
            </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h5 g-color-black mb-0">游戏达人</h3>
          </div>
        </div>
        <p class="g-color-gray-dark-v4">
          基本上叫的上来的游戏都玩过，喜欢玩游戏，对于很多游戏都很在行。
        </p>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 u-icon-block--hover g-mb-40">
        <!-- Icon Blocks -->
        <div class="media g-mb-15">
          <div class="d-flex align-self-center mr-3">
            <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
              <i class="icon-real-estate-075 u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h5 g-color-black mb-0">运动大笨蛋</h3>
          </div>
        </div>
        <p class="g-color-gray-dark-v4">
          迅速的从100到了140，泪流满面。长期的不运动荒废了我之前优秀的运动细胞，要努力了！！！！
        </p>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End Icon Blocks -->

    <!-- Icon Blocks -->
    <div class="row">
      <div class="col-lg-4 u-icon-block--hover g-mb-40">
        <!-- Icon Blocks -->
        <div class="media g-mb-15">
          <div class="d-flex align-self-center mr-3">
            <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
              <i class="icon-food-166 u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h5 g-color-black mb-0">居家小当家</h3>
          </div>
        </div>
        <p class="g-color-gray-dark-v4">
          自己独特的口味，让我练就了满足自己的厨艺。喜欢肉，辣，，，都喜欢！这就是胖的原因吧...
        </p>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 u-icon-block--hover g-mb-40">
        <!-- Icon Blocks -->
        <div class="media g-mb-15">
          <div class="d-flex align-self-center mr-3">
            <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
              <i class="icon-communication-030 u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h5 g-color-black mb-0">电影爱好者</h3>
          </div>
        </div>
        <p class="g-color-gray-dark-v4">
          好的电影让人觉的愉悦，有所感悟。遇到爱的电影，心里真的非常满足，但是却只接受看一次。
        </p>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 u-icon-block--hover g-mb-40">
        <!-- Icon Blocks -->
        <div class="media g-mb-15">
          <div class="d-flex align-self-center mr-3">
            <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
              <i class="icon-music-029 u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body align-self-center">
            <h3 class="h5 g-color-black mb-0">音乐爱好者</h3>
          </div>
        </div>
        <p class="g-color-gray-dark-v4">
          音乐让人安静，让人兴奋，让人欢喜让人忧...喜欢听歌 喜欢唱歌
        </p>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <p class="text-center">你好，很高兴认识你</p>
    <!-- End Icon Blocks -->
</section>
