<section class="container g-pt-100 g-pb-70">
  <div class="row">
    <!-- Section Body -->
    <div class="col-lg-6 g-mb-30">
      <div class="mb-4">
        <h2 class="h4 text-uppercase mb-3">About <span class="g-color-primary">me</span></h2>
        <div class="g-width-35 g-height-1 g-bg-primary"></div>
      </div>
      <p>
        <span class="u-dropcap g-color-primary g-mr-20 g-mb-10">我</span>喜爱学习，渴望学习
      </p>
      <p>
        从事计算机开发4年，JAVA开发1年，IOS开发3年。可以熟练使用 Swift Objective-c 开发。
        到目前为止，开发了5款上线应用，包揽了 “金融相关” , “新闻资讯”，“打卡应用”。
        大部分应用都是独立开发，
        新闻资讯为两个人开发，我为主力开发负责大部分功能，
        其中新闻资讯分别了SDK，以及上线应用（最低版本适配于IOS7）。
        开发的SDK集成的应用，最大的活跃为浏览器以及日历应用，每天活跃达50W以上。
        具有非常好的编码规范，良好的git提交描述，适应插件式开发。
        最早期在创业公司，经历过高强度的工作，适应加班，吃苦耐劳，对于学习如饥似渴。
      </p>
      <p>
        每隔一段时间整理博客，是我的习惯。书写我的收获以及不足之处，及时的做出对策！努力！奋斗！
      </p>
      <!-- Section Social Icons -->
      <ul class="list-inline">
        <li class="list-inline-item g-mx-4">
          <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v3 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#">
                <i class="fa fa-facebook"></i>
              </a>
        </li>
        <li class="list-inline-item g-mx-4">
          <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v3 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#">
                <i class="fa fa-twitter"></i>
              </a>
        </li>
        <li class="list-inline-item g-mx-4">
          <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v3 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#">
                <i class="fa fa-google-plus"></i>
              </a>
        </li>
        <li class="list-inline-item g-mx-4">
          <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v3 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#">
                <i class="fa fa-linkedin"></i>
              </a>
        </li>
        <li class="list-inline-item g-mx-4">
          <a class="u-icon-v3 u-icon-size--xs g-color-gray-dark-v3 g-bg-gray-light-v5 g-color-white--hover g-bg-primary--hover rounded-circle" href="#">
                <i class="fa fa-instagram"></i>
              </a>
        </li>
      </ul>
      <!-- End Section Social Icons -->
    </div>

    <div class="col-lg-6">
      <div class="mb-4">
        <h2 class="h4 text-uppercase mb-3">My <span class="g-color-primary">skills</span></h2>
        <div class="g-width-35 g-height-1 g-bg-primary"></div>
      </div>

      <!-- Progress Bar v2 -->
      <h4 class="h6 g-mb-5">IOS 开发 - 90%</h4>
      <div class="js-hr-progress-bar progress rounded-0 g-height-4 g-mb-30">
        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress Bar v2 -->

      <!-- Progress Bar v2 -->
      <h4 class="h6 g-mb-5">Swift/Objective-c - 80%</h4>
      <div class="js-hr-progress-bar progress rounded-0 g-height-4 g-mb-30">
        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress Bar v2 -->

      <!-- Progress Bar v2 -->
      <h4 class="h6 g-mb-5">JavaScript/jQuery/HTML/CSS - 80%</h4>
      <div class="js-hr-progress-bar progress rounded-0 g-height-4 g-mb-30">
        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress Bar v2 -->

      <!-- Progress Bar v2 -->
      <h4 class="h6 g-mb-5">JAVA/Spring/MySql/Hibernate - 30%</h4>
      <div class="js-hr-progress-bar progress rounded-0 g-height-4 g-mb-30">
        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress Bar v2 -->

      <!-- Progress Bar v2 -->
      <h4 class="h6 g-mb-5">Ruby/Python/Shell 略懂 - 30%</h4>
      <div class="js-hr-progress-bar progress rounded-0 g-height-4 g-mb-30">
        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress Bar v2 -->


      <!-- Progress Bar v2 -->
      <h4 class="h6 g-mb-5">更多的知识 - 100%的努力</h4>
      <div class="js-hr-progress-bar progress rounded-0 g-height-4">
        <div class="js-hr-progress-bar-indicator progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <!-- End Progress Bar v2 -->
      <!-- End Progress Bar v2 -->
    </div>
    <!-- End Section Body -->
  </div>
</section>
