<section class="container g-pt-100 g-pb-70">
  <div id="carousel4" class="js-carousel" data-infinite="true">
  </div>
</section>


<!-- CSS Implementing Plugins -->
<link type="text/plain" rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
<!-- JS Implementing Plugins -->
<script type="text/plain" src="/assets/vendor/slick-carousel/slick/slick.js"></script>

<!-- JS Unify -->
<script type="text/plain" src="/assets/js/components/hs.carousel.js"></script>

<!-- JS Plugins Init. -->
<script>
  var PrecessDataSources = [{
      "title": "选择辍学",
      "contents": [
        "在我高二的时候，由于对于网络的沉迷，学习骄傲，不认真听讲。我的学习成绩直线下降，再加上大学就业问题...\
        最终固执的我，辜负了我父亲对我的期望，选择了辍学。我还记的我说出这个决定的时候，我父亲的沉默\
        他没有大发雷霆，沉默的吓人，没有继续吃饭，这样我们坐了很久。我感觉到了他的失望和无奈",
        "那天之后，我的生活轨迹都改变了。一个小山村的少年，固执执拗的迈出了第一步。多年之后回想起来,\
        我真的很后悔，但是却也无可奈何，只希望我的儿子可以好好学习，了无遗憾"
      ],
      "image":"https://upload-images.jianshu.io/upload_images/3910561-389da27cdc685a70.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700"
    },
    {
      "title": "北京求学",
      "contents": [
        "辍学之后的我，很快的就决定要学习电脑。那个时候对于计算机的热爱，仅仅来自于想坐在办公室里工作。\
        坐了10多个小时的大巴，来到这个国际性的大都市眼前的一切都是新鲜无比的，父亲，把我送到了宿舍交上学费就走了\
        ",
        "北京的时间，过的很快。见识到了很多，也学习了很多。但是心里还是觉的不安，因为感觉学习的\
        东西非常的浅薄，我甚至只知道使用，而不知道为什么。但是时间就像一个巨大的推土机，容不得我的停留，未来对我来说充满了未知\
        "
      ],
      "image":"http://b274.photo.store.qq.com/psb?/V13EPRdM3ONdbp/TWhemescFf5LhaVjn4taYAt2CiS.mhkoPZsQonhgboU!/b/dO1rXaNJGwAA&bo=gAJVA7AEQAYBCAk!&rf=viewer_4"
    },
    {
      "title": "低潮",
      "contents": [
        "一年半的时间，毕业，找工作。赶上了北京的创业季，即使如此，我还是四处碰壁，浅薄的只是，没学历，没经验，\
        整整半年，找不到工作，这一年半耗尽了资源。我的白发也是在这个时候出现的，很神奇，至少到现在还有。",
        "在济南找到了一份工作，甚至只够房租。也许还对我报以希望的父亲，现在是真的死心了吧。那段时间真的昏暗无比。\
        我没有服输，在实习期结束之后，从济南再次回到了北京。高昂的房租，让我选择了长达半年的地下室生活"
      ],
      "image":"https://upload-images.jianshu.io/upload_images/3910561-389da27cdc685a70.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700"
    },
    {
      "title": "真正的第一份工作",
      "contents": [
        "也许是我的执拗，也许是我的固执。我的第一份工作来了。不是因为我的技术好，而是因为我的想法很新，年龄很小。",
        "我遇到了一个奇怪的老板，勉强在北京活了下来，我很知足。每天双桥-上地的路程，并没有耗尽我的力气，我努力的学习着，\
        在学习没有学到的知识。在半年之内，终于可以一个人完成Java服务器的开发。但是仅限于低并发，当然这些东西我当时甚至不知道是什么\
        ",
        "感谢这个奇怪的老板。"
      ],
      "image":"https://upload-images.jianshu.io/upload_images/3910561-389da27cdc685a70.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700"
    },
    {
      "title": "不同的路",
      "contents": [
        "毕竟是没有科班出身，对于网络，数据格式，算法，等知识，都非常浅薄。这也是的我在服务器上很难在有时间去进步，也不会留给我这多时间",
        "在2014年9月，swift发布之际，我开始了自己的IOS开发之路。半年时间的知识的累计，完成了自己的第一个产品的开发。一个推送叫人吸烟的软件",
        "一年时间左右，我学习了很多 nodejs python...，让我明白了，真的是一门语言学会了，其他语言都好简单 我努力的汲取着一切我可以汲取的知识"
      ],
      "image":"https://upload-images.jianshu.io/upload_images/3910561-389da27cdc685a70.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700"
    },
    {
      "title": "快速的成长",
      "contents": [
        "这些年",
        "知道了 OC runtime 原来是这样，熟练了 git，知道 ASDK原来可以这么流畅，知道了 原来数据同步，知道了线程锁，知道了\
        网络协议，知道了数据结构，知道了hash地址真的超级快，知道为什么字典更快，知道了LeetCode，学会了 RX 双向绑定\
        知道了插件式开发，知道了oop，知道了mvvm，知道了 mvc ...",
        "知道了很多，也感受到了以前辍学决定的愚蠢..."
      ],
      "image":"https://upload-images.jianshu.io/upload_images/3910561-389da27cdc685a70.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700"
    },
    {
      "title": "未来的路",
      "contents": [
        "这些年，让我明白了学习的重要性。我的愚蠢的决定，让我几乎去那个公司都会失败，总会觉的难过和无奈",
        "但是，我相信只要我学习的足够多，技术也不会差到哪里。这些年，经历了很多。也让我认识到了自己的不足，但是我不会放弃，因为我的成绩也很明显，这些项目，这些稳定的\
        应用就是对我最好的答复。",
        "未来充满了未知，也充满了希望。努力，奋斗。"
      ],
      "image":"https://upload-images.jianshu.io/upload_images/3910561-389da27cdc685a70.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/700"
    }
  ];

  function configPrecessSubNode(precess) {

    var results = '\
  <div class="js-slide g-pb-70 g-pb-150--sm" data-title="' + precess.title +
      '">\
    <!-- Dynamic Process -->\
    <div class="row no-gutters">\
      <div class="col-lg-6 g-bg-black g-pa-60 g-pa-100--sm">\
        <h3 class="h4 g-color-white g-font-weight-700 g-mb-25">' + precess.title +
      '</h3>\
\
        <div class="g-mb-50">\
        ';

    for (var content in precess.contents) {

      results += '<p class="g-color-white-opacity-0_7 g-mb-30">' + precess.contents[content] + '</p>';
    }

    results +=
      '</div>\
\
      </div>\
\
      <div class="col-lg-6 g-min-height-400 g-bg-size-cover g-bg-pos-center" style="background-image: url('+precess.image+');"></div>\
    </div>\
    <!-- End Dynamic Process -->\
  </div>\
  ';

    return results;
  }

  $(document).on('ready', function() {

    var results = "";

    for (var precess in PrecessDataSources) {

      results += configPrecessSubNode(PrecessDataSources[precess]);
    }

    $("#carousel4").html(results);

    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');


    $('#carousel4').slick('setOption', 'dots', true, true);
    $('#carousel4').slick('setOption', 'dotsClass', 'js-pagination u-carousel-indicators-v30 g-pos-abs g-bottom-0', true);
    $('#carousel4').slick('setOption', 'customPaging', function(slider, i) {
      var title = $(slider.$slides[i]).data('title');

      return '<i class="u-dot-line-v2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mb-15--sm"><span class="u-dot-line-v2__inner g-bg-white--before g-brd-3--before--active g-brd-gray-light-v2--before g-brd-primary--before--hover u-block-hover__main--zoom-v1--hover g-brd-primary--before--active g-transition--ease-in g-transition-0_2"></span></i><span class="g-hidden-sm-down g-color-black g-font-size-15">' +
        title + '</span>';
    }, true);
  });
</script>
