<section class="container  g-pt-20 g-pb-20">
  <div class="row">
    <!-- Section Body -->
    <!-- Simple Plain -->
    <div class="mb-4">
      <h2 class="h4 text-uppercase mb-3">Kills <span class="g-color-primary">tags</span></h2>
      <div class="g-width-35 g-height-1 g-bg-primary"></div>
    </div>
    <ul class="u-list-inline">
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Swift</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Objective-c</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">IOS</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Java</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">JavaScript</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Css</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Html</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Python</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Ruby</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Shell</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Linux</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">MySql</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">MongoDB</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Nodejs</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Hibernate</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Spring</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Spinrg Boot</a>
      </li>
      <li class="list-inline-item g-mb-10">
        <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">More Coming...</a>
      </li>
    </ul>
    <!-- End Simple Plain -->
    <!-- End Section Body -->
  </div>
</section>
