<!-- Social Shares -->
<div class="g-mb-30">

    <ul class="list-inline text-uppercase mb-0">
      <li class="list-inline-item g-mr-10">
        <strong class="align-middle g-font-size-24 jiathis_counter_style"><a class="jiathis_counter_style"></a></strong>
      </li>
      <li class="list-inline-item g-mr-10">
        <span class="g-color-gray-dark-v5">|</span>
      </li>
      <li class="list-inline-item g-mr-10">
        <a class="jiathis_button_weixin btn u-btn-teal g-font-size-12 rounded g-px-20--sm g-py-10" style="color:white;">
          <i class="fa fa-wechat g-mr-5--sm"></i>
          <span class="g-hidden-xs-down">分享到微信</span>
      </a>
      </li>
      <li class="list-inline-item g-mr-10">
        <a class="jiathis_button_tqq btn u-btn-twitter g-font-size-12 rounded g-px-20--sm g-py-10" href="#">
              <i class="fa fa-qq g-mr-5--sm"></i> <span class="g-hidden-xs-down">分享到 QQ</span>
            </a>
      </li>
      <li class="list-inline-item g-mr-10">
        <a class="jiathis_button_tsina btn u-btn-lightred g-font-size-12 rounded g-px-20--sm g-py-10 " href="#">
              <i class="fa fa-weibo g-mr-5--sm"></i> <span class="g-hidden-xs-down">分享到 新浪微博</span>
            </a>
      </li>
    </ul>
</div>
          <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
<!-- End Social Shares -->
