<!-- Footer Content -->
<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
  <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
    <h2 class="u-heading-v2__title h6 text-uppercase mb-0"><%= __('footer.lasterpost') %></h2>
  </div>

  <% if (site.posts.length){ %>
    <%- partial('footer-post/footer-post') %>
      <% } else { %>
        <%- partial('footer-post/nonepost') %>
          <% } %>
</div>
<!-- End Footer Content -->
