<div class="g-mb-60">
  <!--PC版-->
  <div id="SOHUCS" sid="<%= page.permalink %>"></div>
  <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
  <script type="text/javascript">
  window.changyan.api.config({
  appid: 'cytc1YTze',
  conf: 'prod_d901aff16a0bef6211f3674fa3e0648a'
  });
  </script>

</div>
