<div class="g-mb-60" id="commit-container">
  <!--PC版-->




</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<script type="text/javascript" src="//cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>

<script type="text/javascript">

var gitalk = new Gitalk({
  clientID: '9fba00e5b04b66d8424e',
  clientSecret: '87d759d3284033b6e5aaac980e63fa74e57fcda7',
  repo: 'aimobier.github.io',
  owner: 'aimobier',
  admin: ['aimobier'],
  id: md5(window.location.pathname),      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('commit-container')
	
</script>

