<!-- News Feed -->
<div class="g-mb-40">

  <!-- Nav tabs -->
  <ul class="nav u-nav-v5-1 g-brd-bottom--md g-brd-gray-light-v4" role="tablist" data-target="nav-5-2-default-hor-left-border-bottom" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#nav-5-2-default-hor-left-border-bottom--1" role="tab">最新文章</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#nav-5-2-default-hor-left-border-bottom--2" role="tab">修改历史</a>
    </li>
  </ul>
  <!-- End Nav tabs -->


  <!-- Tab panes -->
  <div id="nav-5-2-default-hor-left-border-bottom" class="tab-content g-pt-20">
    <div class="tab-pane fade show active" id="nav-5-2-default-hor-left-border-bottom--1" role="tabpanel">
      <% site.posts.sort('date',-1).limit(4).each(function(post,i){ %>
        <article>
          <h3 class="h6">
            <a class="g-color-gray-dark-v1" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </h3>
          <span class="g-font-size-12">
            <%- date(post.date, 'YYYY/M/D H:m:s') %>
        </span>
        </article>
        <% if(i < 3){%>
          <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-10">
          <% } %>
            <% }) %>
    </div>


    <div class="tab-pane fade" id="nav-5-2-default-hor-left-border-bottom--2" role="tabpanel">
      <table id="commit-history-new">
        <thead><tr><th></th></tr></thead >
        <tbody id="commit-history-new-body">
          <tr><td>
            <li class="media g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
              <div class="media-body">
                <span class="d-block g-font-size-11 text-center">正在加载...</span>
              </div>
            </li>
          </tr></td>
        </tbody>
        <p class="text-center g-font-size-10" id="history_infomessagelabel"></p>
      </table>
    </div>
  </div>
  <!-- End Tab panes -->


</div>
<!-- End News Feed -->
