<% if (toc(page.content).length > 1) {%>

  <div class="g-mb-40">

  <ul class="nav u-nav-v1-2 u-nav-primary u-nav-rounded-5 g-brd-bottom--md g-brd-primary g-mb-20" role="tablist" data-target="nav-1-2-default-hor-left-rounded-underline-s" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary g-mb-20">
    <li class="nav-item">
      <a class="nav-link active g-rounded-bottom-0 g-brd-bottom-none" data-toggle="tab" href="#nav-1-2-default-hor-left-rounded-underline-s--1" role="tab">目录</a>
    </li>
  </ul>
  <div id="nav-1-2-default-hor-left-rounded-underline-s" class="tab-content">
    <div class="tab-pane fade show active" id="nav-1-2-default-hor-left-rounded-underline-s--1" role="tabpanel">
    <div class="g-mb-40 post-toc">
      <%- toc(page.content,{"class":"post-nav"})%>
    </div>
    </div>
  </div>

  </div>
<%}%>

<script src="/assets/js/helpers/timeago.min.js" charset="utf-8"></script>
<script type="text/javascript">

  $(document).ready(function() {

    initScrollSpy();

    function initScrollSpy() {
      var tocSelector = '.post-toc';
      var $tocElement = $(tocSelector);
      var activeCurrentSelector = '.active-current';

      $tocElement
        .on('activate.bs.scrollspy', addClassCurrentActiveClass)
        .on('clear.bs.scrollspy', removeCurrentActiveClass);

      $('body').scrollspy({
        target: tocSelector
      });

      function addClassCurrentActiveClass(){
        var $currentActiveElement = $(tocSelector + ' .active').last();
        removeCurrentActiveClass();
        $currentActiveElement.addClass('active-current');
        $tocElement.scrollTop($currentActiveElement.offset().top - $tocElement.offset().top + $tocElement.scrollTop() - ($tocElement.height() / 2));
      }

      function removeCurrentActiveClass() {
        $(tocSelector + ' ' + activeCurrentSelector)
          .removeClass(activeCurrentSelector.substring(1));
      }
    }

  });

  $(document).ready(function() {
    var html = $('html');
    var hasVelocity = $.isFunction(html.velocity);

    // TOC item animation navigate & prevent #item selector in adress bar.
    $('.post-toc a').on('click', function(e) {
      e.preventDefault();
      var targetSelector = escapeSelector(this.getAttribute('href'));
      var offset = $(targetSelector).offset().top;

      hasVelocity ?
        html.velocity('stop').velocity('scroll', {
          offset: offset + 'px',
          mobileHA: false
        }) :
        $('html, body').stop().animate({
          scrollTop: offset
        }, 500);
    });
  });
</script>


<script type="text/javascript">
  function escapeSelector(selector) {
    return selector.replace(/[!"$%&'()*+,.\/:;<=>?@[\\\]^`{|}~]/g, '\\$&');
  }

  +
  function($) {
    'use strict';

    // SCROLLSPY CLASS DEFINITION
    // ==========================

    function ScrollSpy(element, options) {
      this.$body = $(document.body)
      this.$scrollElement = $(element).is(document.body) ? $(window) : $(element)
      this.options = $.extend({}, ScrollSpy.DEFAULTS, options)
      this.selector = (this.options.target || '') + ' .post-nav li > a'
      this.offsets = []
      this.targets = []
      this.activeTarget = null
      this.scrollHeight = 0

      this.$scrollElement.on('scroll.bs.scrollspy', $.proxy(this.process, this))
      this.refresh()
      this.process()
    }

    ScrollSpy.VERSION = '3.3.2'

    ScrollSpy.DEFAULTS = {
      offset: 10
    }

    ScrollSpy.prototype.getScrollHeight = function() {
      return this.$scrollElement[0].scrollHeight || Math.max(this.$body[0].scrollHeight, document.documentElement.scrollHeight)
    }

    ScrollSpy.prototype.refresh = function() {
      var that = this
      var offsetMethod = 'offset'
      var offsetBase = 0

      this.offsets = []
      this.targets = []
      this.scrollHeight = this.getScrollHeight()

      if (!$.isWindow(this.$scrollElement[0])) {
        offsetMethod = 'position'
        offsetBase = this.$scrollElement.scrollTop()
      }

      this.$body
        .find(this.selector)
        .map(function() {
          var $el = $(this)
          var href = $el.data('target') || $el.attr('href')
          var $href = /^#./.test(href) && $(escapeSelector(href)) // Need to escape selector.

          return ($href &&
            $href.length &&
            $href.is(':visible') && [
              [$href[offsetMethod]().top + offsetBase, href]
            ]) || null
        })
        .sort(function(a, b) {
          return a[0] - b[0]
        })
        .each(function() {
          that.offsets.push(this[0])
          that.targets.push(this[1])
        })


    }

    ScrollSpy.prototype.process = function() {
      var scrollTop = this.$scrollElement.scrollTop() + this.options.offset
      var scrollHeight = this.getScrollHeight()
      var maxScroll = this.options.offset + scrollHeight - this.$scrollElement.height()
      var offsets = this.offsets
      var targets = this.targets
      var activeTarget = this.activeTarget
      var i

      if (this.scrollHeight != scrollHeight) {
        this.refresh()
      }

      if (scrollTop >= maxScroll) {
        return activeTarget != (i = targets[targets.length - 1]) && this.activate(i)
      }

      if (activeTarget && scrollTop < offsets[0]) {
        $(this.selector).trigger('clear.bs.scrollspy') // Add a custom event.
        this.activeTarget = null
        return this.clear()
      }

      for (i = offsets.length; i--;) {
        activeTarget != targets[i] &&
          scrollTop >= offsets[i] &&
          (!offsets[i + 1] || scrollTop <= offsets[i + 1]) &&
          this.activate(targets[i])
      }
    }

    ScrollSpy.prototype.activate = function(target) {
      this.activeTarget = target

      this.clear()

      var selector = this.selector +
        '[data-target="' + target + '"],' +
        this.selector + '[href="' + target + '"]'

      var active = $(selector)
        .parents('li')
        .addClass('active')

      if (active.parent('.dropdown-menu').length) {
        active = active
          .closest('li.dropdown')
          .addClass('active')
      }

      active.trigger('activate.bs.scrollspy')
    }

    ScrollSpy.prototype.clear = function() {
      $(this.selector)
        .parentsUntil(this.options.target, '.active')
        .removeClass('active')
    }


    // SCROLLSPY PLUGIN DEFINITION
    // ===========================

    function Plugin(option) {
      return this.each(function() {
        var $this = $(this)
        var data = $this.data('bs.scrollspy')
        var options = typeof option == 'object' && option

        if (!data) $this.data('bs.scrollspy', (data = new ScrollSpy(this, options)))
        if (typeof option == 'string') data[option]()
      })
    }

    var old = $.fn.scrollspy

    $.fn.scrollspy = Plugin
    $.fn.scrollspy.Constructor = ScrollSpy


    // SCROLLSPY NO CONFLICT
    // =====================

    $.fn.scrollspy.noConflict = function() {
      $.fn.scrollspy = old
      return this
    }


    // SCROLLSPY DATA-API
    // ==================

    $(window).on('load.bs.scrollspy.data-api', function() {
      $('[data-spy="scroll"]').each(function() {
        var $spy = $(this)
        Plugin.call($spy, $spy.data())
      })
    })

  }(jQuery);
</script>

<style>
  .post-toc {
    overflow: auto;
  }

  .post-toc ol {
    margin: 0;
    padding: 0 2px 5px 10px;
    text-align: left;
    list-style: none;
    font-size: 14px;
  }

  .post-toc ol>ol {
    padding-left: 0;
  }

  .post-toc ol a {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
    color: #111;
    border-bottom-color: #555;
  }

  .post-toc ol a:hover {
    color: #4f72c1;
    border-bottom-color: #ccc;
  }

  .post-toc .post-nav-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.8;
  }

  .post-toc .post-nav .post-nav-child {
    display: none;
  }

  .post-toc .post-nav .active>.post-nav-child {
    display: block;
  }

  .post-toc .post-nav .active-current>.post-nav-child {
    display: block;
  }

  .post-toc .post-nav .active-current>.post-nav-child>.post-nav-item {
    display: block;
  }

  .post-toc .post-nav .active>a {
    color: #6281c8;
    border-bottom-color: #87daff;
  }

  .post-toc .post-nav .active-current>a {
    color: #6281c8;
  }

  .post-toc .post-nav .active-current>a:hover {
    color: #87daff;
  }
</style>
