<!-- Account -->
<div class="col-1" id="account">
  <a id="account-dropdown-invoker" class="media align-items-center float-right g-text-underline--none--hover" href="#"
     aria-controls="account-dropdown"
     aria-haspopup="true"
     aria-expanded="false"
     data-dropdown-event="hover"
     data-dropdown-target="#account-dropdown"
     data-dropdown-type="css-animation"
     data-dropdown-duration="300"
     data-dropdown-hide-on-scroll="false"
     data-dropdown-animation-in="fadeIn"
     data-dropdown-animation-out="fadeOut">
    <div class="d-flex g-width-30 g-height-30 mr-2">
      <img class="img-fluid rounded-circle" src="http://blog.msiter.com/favicon/avatar.jpg" alt="Image Description">
    </div>
    <div class="media-body">
      <span class="d-block g-hidden-sm-down g-color-main g-font-weight-600 g-font-size-13">文征</span>
    </div>
  </a>

  <div id="account-dropdown" class="list-unstyled g-brd-around g-brd-secondary-light-v2 g-bg-white rounded g-pos-abs g-right-0 g-py-5 g-mt-57" aria-labelledby="account-dropdown-invoker" style="width:300px;">






    <div class="col-lg-12 g-mb-30">
        <!-- Figure -->
        <figure class="u-shadow-v19 g-bg-white g-rounded-4 g-pa-20">

          <div id="counter" class="text-center g-font-size-20">

            0

          </div>

          <hr class="g-brd-gray-light-v4 g-my-15">

          <div class="d-flex justify-content-start">
            <!-- Figure Image -->
            <img class="g-width-90 g-height-90 rounded-circle g-mr-15" src="http://blog.msiter.com/favicon/avatar.jpg" alt="Image Description">
            <!-- Figure Image -->

            <div class="d-block">
              <!-- Figure Info -->
              <div class="g-mb-5">
                <h4 class="h5 g-mb-1">荆文征</h4>
                <em class="d-block g-color-gray-dark-v4 g-font-style-normal g-font-size-13">Zhidu Inc.</em>
              </div>
              <!-- End Figure Info -->

              <!-- Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item g-mx-2">
                  <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-facebook--hover g-ml-minus-15" href="javascript:;" onclick="zanUpMethod()">
                    <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-thumbs-o-up"></i>
                    <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-thumbs-up"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-2">
                  <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-twitter--hover" href="javascript:void(0)" onclick="zanDownMethod()">
                    <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-thumbs-o-down"></i>
                    <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-thumbs-down"></i>
                  </a>
                </li>
              </ul>
              <!-- End Social Icons -->
            </div>
          </div>

          <hr class="g-brd-gray-light-v4 g-my-15">

          <div class="g-py-10">
            <!-- Figure Contacts -->
            <ul class="list-unstyled g-color-gray-dark-v5 g-font-size-13 g-mb-0">
              <li class="g-mb-10">
                <i class="g-pos-rel g-mt-1 mr-2 icon-communication-062 u-line-icon-pro"></i>
                <a href="mailto:alphabetion@gmail.com">alphabetion@gmail.com</a>
              </li>
              <li>
                <i class="g-pos-rel g-top-1 mr-2 icon-electronics-005 u-line-icon-pro"></i>
                <em class="g-font-style-normal">+(86) 136 0135 6004</em>
              </li>
            </ul>
            <!-- End Figure Contacts -->
          </div>

          <hr class="g-brd-gray-light-v4 g-my-15">
            <!-- Border Primary Blockquotes -->
            <blockquote class="blockquote g-brd-2 g-brd-primary g-font-size-12 g-mb-30">
              <p class="content"></p>
              <footer class="blockquote-footer text-right">
                <cite title="Source Title" class="author"></cite>
              </footer>
            </blockquote>
            <!-- End Border Primary Blockquotes -->
        </figure>
        <!-- End Figure -->
      </div>







  </div>


</div>
<!-- End Account -->

<script type="text/javascript">

$("#account").mouseover(function(){


});

$("#account").mouseout(function(){

});

</script>
