<style media="screen">
  .barrage {
    width: 100%;
    background-color: #6281c8;
    position: fixed;
    top: 0px;
    display: none;
  }

  .barrage .logo {
    visibility: hidden;
  }
</style>

<header id="BarrageInputView" class="u-header u-header--static u-shadow-v19 barrage">
  <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-py-18">
    <div class="container">
      <div class="row align-items-center">

        <%- partial('logo') %>

          <h3 class="col-4 col-lg-2 g-pos-rel g-px-15 ml-auto text-center g-color-white">你好，再见</h3>

      </div>
    </div>
  </div>
</header>


<script type="text/javascript">
  $(document).ready(function() {

    var barrageInputView = $("#BarrageInputView");

    $("#BarrageStartButton").click(function(event) {

      barrageInputView.css("display", "block");
      barrageInputView.css("top", "-300px");

      console.log("这个按钮一点用都没有.直接搜索就好了");

      barrageInputView.animate({
        top: "0",
      }, 1000, function() {
        setTimeout(function() {

          barrageInputView.animate({
            top: "-200"
          }, 1000,function(){
            barrageInputView.css("display", "none");
          });

        }, 1000);
      });

    });
  });
</script>
