<!-- Language -->
<div id="clock" class="col-xl-2 col-md-2 col-sm-2 g-hidden-xs-down ml-auto ">
</div>
<!-- End Language -->


<script type="text/javascript">

var counter;

var config = {
  syncURL: "https://wd2622139095udguuj.wilddogio.com" //输入节点 URL
};
wilddog.initializeApp(config);
var ref = wilddog.sync().ref("browerlog");

ref.push({
  "url": window.location.href,
  "path": window.location.pathname,
  "date": Math.round(new Date().getTime())
});

ref.orderByChild("path").equalTo(window.location.pathname).on('value', function(snapshot) {

  var value = snapshot.val() == null ? 0 : Object.keys(snapshot.val()).length

  $("#clock").text("No."+value);
});

var zan = wilddog.sync().ref("dianzan");

zan.on('value', function(snapshot) {
    counter = snapshot.val();
    $("#counter").html(""+counter);
  }, function (error) {
    console.log(error);
  });


function zanUpMethod(){
  zan.set(counter+1)
}
function zanDownMethod(){
  zan.set(counter-1)
}

</script>
