<!-- Mega Menu Item -->
<li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
    data-animation-in="fadeIn"
    data-animation-out="fadeOut"
    data-position="right">
  <a id="mega-menu-label-3" class="nav-link text-uppercase g-px-0" href="#" aria-haspopup="true" aria-expanded="false">最新文章
    <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-5"></i></a>

  <!-- Mega Menu -->
  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-3">
    <div class="row">
      <div class="col-lg-4">
        <article>
          <figure class="g-pos-rel">
            <img class="img-fluid w-100 g-mb-20" src="/assets/img-temp/900x600/img7.jpg" alt="Image Description">
          </figure>
          <h3 class="h4 g-mb-10"><a class="g-color-gray-dark-v2" href="#">Love the mother nature</a>
          </h3>
          <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
            <li class="list-inline-item">
              <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">Kathy Reyes</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">July 20, 2016</li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">
              <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                <i class="fa fa-comments-o"></i> 18
              </a>
            </li>
          </ul>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="media g-mb-20">
          <a class="d-flex mr-3" href="#"><img class="g-width-120 g-height-70" src="/assets/img-temp/500x320/img1.jpg" alt="Image Description"></a>
          <div class="media-body">
            <h3 class="h6">
              <a class="g-color-main" href="#">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>
            </h3>
            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
              <li class="list-inline-item">July 07, 2016</li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                  <i class="fa fa-comments-o"></i> 24
                </a>
              </li>
            </ul>
          </div>
        </article>

        <article class="media g-mb-20">
          <a class="d-flex mr-3" href="#"><img class="g-width-120 g-height-70" src="/assets/img-temp/500x320/img2.jpg" alt="Image Description"></a>
          <div class="media-body">
            <h3 class="h6"><a class="g-color-main" href="#">10 Most beautiful beaches</a></h3>
            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
              <li class="list-inline-item">July 20, 2016</li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                  <i class="fa fa-comments-o"></i> 18
                </a>
              </li>
            </ul>
          </div>
        </article>

        <article class="media g-mb-20">
          <a class="d-flex mr-3" href="#"><img class="g-width-120 g-height-70" src="/assets/img-temp/500x320/img3.jpg" alt="Image Description"></a>
          <div class="media-body">
            <h3 class="h6">
              <a class="g-color-main" href="#">Stylish things to do, see and buy this week</a></h3>
            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
              <li class="list-inline-item">July 16, 2016</li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                  <i class="fa fa-comments-o"></i> 31
                </a>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="media g-mb-20">
          <a class="d-flex mr-3" href="#"><img class="g-width-120 g-height-70" src="/assets/img-temp/500x320/img1.jpg" alt="Image Description"></a>
          <div class="media-body">
            <h3 class="h6">
              <a class="g-color-main" href="#">8 health benefits and drawbacks of coffee</a></h3>
            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
              <li class="list-inline-item">July 30, 2016</li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                  <i class="fa fa-comments-o"></i> 12
                </a>
              </li>
            </ul>
          </div>
        </article>

        <article class="media g-mb-20">
          <a class="d-flex mr-3" href="#"><img class="g-width-120 g-height-70" src="/assets/img-temp/500x320/img2.jpg" alt="Image Description"></a>
          <div class="media-body">
            <h3 class="h6">
              <a class="g-color-main" href="#">Stylish things to do, see and buy this week</a></h3>
            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
              <li class="list-inline-item">July 16, 2016</li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                  <i class="fa fa-comments-o"></i> 31
                </a>
              </li>
            </ul>
          </div>
        </article>

        <article class="media g-mb-20">
          <a class="d-flex mr-3" href="#"><img class="g-width-120 g-height-70" src="/assets/img-temp/500x320/img3.jpg" alt="Image Description"></a>
          <div class="media-body">
            <h3 class="h6">
              <a class="g-color-main" href="#">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>
            </h3>
            <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
              <li class="list-inline-item">July 07, 2016</li>
              <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                  <i class="fa fa-comments-o"></i> 24
                </a>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Mega Menu Item -->
