<!-- Mega Menu Item -->
<li class="hs-has-mega-menu nav-item g-mx-10--lg g-ml-15--xl"
    data-animation-in="fadeIn"
    data-animation-out="fadeOut"
    data-position="right">
  <a id="mega-menu-label-7" class="nav-link text-uppercase g-px-0" href="#" aria-haspopup="true" aria-expanded="false">新闻热点
    <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-5"></i></a>

  <!-- Mega Menu -->
  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-7">
    <div class="row">
      <div class="col-lg-3 g-mb-20 g-mb-0--lg">
        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> Aug 16, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">You've been making French Pie all wrong - Until Now</a>
          </h3>
        </article>
        <!-- End Article -->

        <hr class="g-mt-15 g-mb-10">

        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> Aug 02, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">Unify facts, study finds - sensitive to gluten without having coeliac disease</a>
          </h3>
        </article>
        <!-- End Article -->
      </div>

      <div class="col-lg-3 g-mb-20 g-mb-0--lg">
        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> July 18, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">Why your next cup of cofee with milk will cost you more</a>
          </h3>
        </article>
        <!-- End Article -->

        <hr class="g-mt-15 g-mb-10">

        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> July 12, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">Incredible product and quality: Unify best template of the year</a>
          </h3>
        </article>
        <!-- End Article -->
      </div>

      <div class="col-lg-3 g-mb-20 g-mb-0--lg">
        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> Aug 16, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">Some post title will be implimented here and It's cool!</a>
          </h3>
        </article>
        <!-- End Article -->

        <hr class="g-mt-15 g-mb-10">

        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> Aug 02, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">Wireframe approach for the news blocks and pages</a>
          </h3>
        </article>
        <!-- End Article -->
      </div>

      <div class="col-lg-3 g-mb-20 g-mb-0--lg">
        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> July 18, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">Over thousands of components help you to boost your project</a>
          </h3>
        </article>
        <!-- End Article -->

        <hr class="g-mt-15 g-mb-10">

        <!-- Article -->
        <article>
          <div class="g-font-size-12 g-mb-5">
            <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> July 12, 2016
          </div>

          <h3 class="h6">
            <a class="g-color-main" href="#">How to run a ticket: Best 10 point approaches for people who stands..</a>
          </h3>
        </article>
        <!-- End Article -->
      </div>
    </div>
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Mega Menu Item -->
