<!-- Mega Menu Item -->
<li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-20--xl"
    data-animation-in="fadeIn"
    data-animation-out="fadeOut"
    data-position="right">
  <a id="mega-menu-label-4" class="nav-link text-uppercase g-px-0" href="#" aria-haspopup="true" aria-expanded="false">最火文章
    <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-5"></i></a>

  <!-- Mega Menu -->
  <div class="hs-mega-menu u-shadow-v11 g-text-transform-none g-font-weight-400 g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-left-15 g-right-15 g-pa-30 g-mt-17 g-mt-7--lg--scrolling" aria-labelledby="mega-menu-label-4">
    <div class="row">
      <div class="col-lg-4">
        <article class="u-block-hover">
          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after">
            <img class="img-fluid u-block-hover__main--zoom-v1" src="/assets/img-temp/500x320/img1.jpg" alt="Image Description">
          </figure>
          <span class="g-pos-abs g-top-20 g-left-20">
          <a class="btn btn-sm u-btn-red rounded-0" href="#">Fashion</a>
        </span>
          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
          <i class="icon-camera"></i>
        </span>
          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
            <small class="g-color-white">
              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> July 26, 2016
            </small>
            <h3 class="h4 g-font-weight-600 g-mt-5">
              <a class="g-color-white g-color-white--hover" href="#">Be ready, fashion of the year is coming this year</a>
            </h3>
          </header>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="u-block-hover">
          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after">
            <img class="img-fluid u-block-hover__main--zoom-v1" src="/assets/img-temp/500x320/img2.jpg" alt="Image Description">
          </figure>
          <span class="g-pos-abs g-top-20 g-left-20">
          <a class="btn btn-sm u-btn-red rounded-0" href="#">Beaches</a>
        </span>
          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
          <i class="icon-camera"></i>
        </span>
          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
            <small class="g-color-white">
              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> July 15, 2016
            </small>
            <h3 class="h4 g-font-weight-600 g-mt-5">
              <a class="g-color-white g-color-white--hover" href="#">Must be visited places in the USA - Florida Beaches</a>
            </h3>
          </header>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="u-block-hover">
          <figure class="g-bg-cover g-bg-black-gradient-opacity-v1--after">
            <img class="img-fluid u-block-hover__main--zoom-v1" src="/assets/img-temp/500x320/img3.jpg" alt="Image Description">
          </figure>
          <span class="g-pos-abs g-top-20 g-left-20">
          <a class="btn btn-sm u-btn-red rounded-0" href="#">Food</a>
        </span>
          <span class="u-icon-v3 u-icon-size--sm g-bg-white g-color-black g-rounded-50x g-cursor-pointer g-pos-abs g-top-20 g-right-20">
          <i class="icon-camera g-left-2"></i>
        </span>
          <header class="g-pos-abs g-bottom-10 g-left-20 g-right-20">
            <small class="g-color-white">
              <i class="icon-clock g-pos-rel g-top-1 g-mr-2"></i> July 8, 2016
            </small>
            <h3 class="h4 g-font-weight-600 g-mt-5">
              <a class="g-color-white g-color-white--hover" href="#">Why your next glass of juice will cost you more</a>
            </h3>
          </header>
        </article>
      </div>
    </div>
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Mega Menu Item -->
