<!-- Subscribe Form -->
<div class="col-6 col-md-5">
  <form class="input-group rounded">
    <input class="form-control w-100 g-brd-secondary-light-v2 g-brd-primary--focus g-color-secondary-dark-v1 g-placeholder-secondary-dark-v1 g-bg-white g-font-weight-400 g-font-size-13 rounded g-px-20 g-py-12" type="text" placeholder="输入以搜索该博客文章">
    <span class="input-group-addon g-brd-none g-py-0 g-pr-0">
      <button class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase rounded g-py-12 g-px-20" type="submit">
        <span class="g-hidden-md-down">Search</span>
        <i class="g-hidden-lg-up fa fa-search"></i>
      </button>
    </span>
  </form>
</div>
<!-- End Subscribe Form -->
