<style media="screen">
  .searchbox {
    border-style: hidden;
    padding: 0px;
    margin: 0px;
  }

  .markdown {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 42px;
    border-width: 1px;
    border-style: solid;
  }

  #searchdownview {
    display: none;
  }

  #searchdownview nav {
    padding-top: 10px;
  }

  #PostSearchResults_wrapper {
    margin: 0px;
    padding-bottom: 0px;
  }

  /* 配置 没有搜索到内容的 上边距 */

  #emptymessageview {
    display: none;
  }

  #emptymessageview p {
    margin-top: 10px;
    font-weight: bold;
  }


  #searchdownview table {
    table-layout: fixed;
  }

  #searchdownview td {

    word-break: break-all;
    word-wrap: break-word;
  }



  /* 搜索结果 设置 */

  .resultlist {
    margin: 0px;
    padding: 0px;
  }

  .resultlist li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e4ea;
  }

  /* 搜索结果关键字 高粱设置 */

  .search-keyword {
    font-size: 1rem;
    color: #6281c8;
    border-bottom: 1px dashed #4088b8;
    font-weight:700;
  }

  /*  分页 前一夜 后一页 隐藏 边框 */

  .searchpage a {
    border-style: hidden;
  }
</style>


<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script src="/assets/js/helpers/hs.pages.table.js" charset="utf-8"></script>

<!-- Subscribe Form -->
<div class="col-6 col-md-5">
  <form class="input-group rounded">
    <div class="form-control w-100 searchbox">
      <input class="form-control w-100
      g-brd-secondary-light-v2
      g-brd-primary--focus
      g-color-secondary-dark-v1
      g-placeholder-secondary-dark-v1
      g-bg-white g-font-weight-400
      g-font-size-13 rounded g-px-20
      g-py-12 searchinput"
      autocomplete="off"
      id="PostSearchInput" type="text" placeholder="输入以搜索该博客文章">

      <div class=" w-100 markdown g-bg-white
      g-brd-secondary-light-v2 rounded
      g-brd-primary--focus" id="searchdownview">
      <table id="PostSearchResults" ></table>
        <p class="text-center g-font-size-10" id="infomessagelabel"></p>
      </div>

      <div class=" w-100 markdown g-bg-white
      g-brd-secondary-light-v2 rounded
      g-brd-primary--focus" id="emptymessageview">
        <p class="text-center g-font-size-13">什么都没有找到</p>
      </div>

    </div>


    <span class="input-group-addon g-brd-none g-py-0 g-pr-0">
      <button id="BarrageStartButton" class="btn u-btn-white g-color-primary--hover g-bg-secondary g-font-weight-600 g-font-size-13 text-uppercase rounded g-py-12 g-px-20">
        <span class="g-hidden-md-down">search</span>
    <i class="g-hidden-lg-up fa fa-search"></i>
    </button>
    </span>
  </form>

</div>
<!-- End Subscribe Form -->



<script type="text/javascript">
  var SearchDataTablesElment;

  var SearchKeyElemnt = "search";

  var Timer = {
    data: {},
    start: function(key) {
      Timer.data[key] = new Date();
    },
    stop: function(key) {
      var time = Timer.data[key];
      if (time)
        Timer.data[key] = new Date() - time;
    },
    getTime: function(key) {
      return Timer.data[key];
    }
  };

  // AJAX 请求获取 XML 数据
  function RequestSearchXMLMethod(finish) {
    var search_path = "<%= config.search.path %>";
    if (search_path.length == 0) {
      search_path = "search.xml";
    }
    var path = "<%= config.root %>" + search_path;
    $.ajax({
      url: path,
      dataType: "xml",
      success: function(xmlResponse) {
        // get the contents from search data
        var datas = $("entry", xmlResponse).map(function() {
          return {
            title: $("title", this).text(),
            content: $("content", this).text(),
            url: $("url", this).text()
          };
        }).get();
        WhachSearchInputMethod(datas, finish);
      }
    });
  }

  function createTemp(title, url, content) {

    if (content.length > 200) {
      content = content.substring(0, 200) + "...";
    }

    return "\
  <ul class='list-unstyled resultlist' >\
  <li class='g-pa-20 g-mb-minus-1'>\
    <!-- Article -->\
    <article>\
          <h3 class='h6'>\
            <a class='g-color-main g-color-primary--hover' href='" + url + "'>" +
      title +
      "</a>\
          </h3>\
          <p class='g-font-size-12'>" +
      content + "</p>\
        </article>\
    <!-- End Article -->\
  </li>\
  </ul>\
  ";
  }


  function WatchLeftAndRightKeyWork() {

    $(document).keydown(function(event) {

      var pointEvent = event.which == 37 || event.which == 39 || event.which == 27 || event.which == 96;

      var pointStatus = $('#searchdownview').css('display') != 'none' || $("#PostSearchInput").is(':focus') || $("#PostSearchInput").val().length > 0;

      if (pointEvent && pointStatus) {
        $("#PostSearchInput").blur(); // 失去焦点
        event.preventDefault(); // 组织键盘
        switch (event.which) { //判断按键;
          case 37: // 上一页
            SearchDataTablesElment.page('previous').draw('page');
            break;
          case 39: // 下一页
            SearchDataTablesElment.page('next').draw('page');
            break;
          case 27:
          case 96:
            $("#PostSearchInput").val("");
            $("#PostSearchInput").trigger("input");
            break;
          default:
            break;
        }
      }
    });
  }

  // 监视输入框的一些输入问题
  // @params data XML 解析出来的JOSN 数据
  // @params finish 检测到输入框修改之后 回调的数据
  //
  // @return nil
  function WhachSearchInputMethod(datas, finish) {

    WatchLeftAndRightKeyWork();

    $("#PostSearchInput").on('input', function(e) {

      var startTime = new Date().getTime(); // 开始时间

      var dataSet = [];
      var keywords = this.value.trim().toLowerCase().split(/[\s\-]+/);
      if (this.value.trim().length <= 0) {
        finish(keywords, dataSet);
        return;
      }
      // perform local searching
      datas.forEach(function(data) {
        var isMatch = true;
        var content_index = [];
        var data_title = data.title.trim().toLowerCase();
        var data_content = data.content.trim().replace(/<[^>]+>/g, "").toLowerCase();
        var data_url = data.url;
        var index_title = -1;
        var index_content = -1;
        var first_occur = -1;
        // only match artiles with not empty titles and contents
        if (data_title != '' && data_content != '') {
          keywords.forEach(function(keyword, i) {
            index_title = data_title.indexOf(keyword);
            index_content = data_content.indexOf(keyword);
            if (index_title < 0 && index_content < 0) {
              isMatch = false;
            } else {
              if (index_content < 0) {
                index_content = 0;
              }
              if (i == 0) {
                first_occur = index_content;
              }
            }
          });
        }
        // show search results
        if (isMatch) {
          var content = data.content.trim().replace(/<[^>]+>/g, "");
          if (first_occur >= 0) {
            // cut out characters
            var start = first_occur - 6;
            var end = first_occur + 6;
            if (start < 0) {
              start = 0;
            }
            if (start == 0) {
              end = 10;
            }
            if (end > content.length) {
              end = content.length;
            }
            var match_content = content.substr(start, end);
            // highlight all keywords
            keywords.forEach(function(keyword) {
              var regS = new RegExp(keyword, "gi");
              data_title = data_title.replace(regS, "<strong class=\"search-keyword\">" + keyword + "</strong>");
              match_content = match_content.replace(regS, "<strong class=\"search-keyword\">" + keyword + "</strong>");
            });
            var datas = [createTemp(data_title, data_url, match_content)];
            dataSet.push(datas);
          };
        };
      });

      var endTime = new Date().getTime(); // 开始时间

      finish(keywords, dataSet, endTime - startTime);
    });
  };

  function EmptyViewHandleMethod(datacount) {
    if (datacount <= 0 && $("#PostSearchInput").val().length > 0) {
      $("#emptymessageview").attr("style", "display:block;"); //隐藏div
    } else {
      $("#emptymessageview").attr("style", "display:none;"); //显示div
    }
  }

  function InitSearchInterfaceMethod() {

    $("#PostSearchInput").focus(function(){
        if ($("#PostSearchInput").val().length > 0) {
          $("#PostSearchInput").trigger("input");
        }
    });

    RequestSearchXMLMethod(function(keywords, datas, times) {
      if (datas.length <= 0) {
        $("#searchdownview").attr("style", "display:none;"); //隐藏div
      } else {
        $("#searchdownview").attr("style", "display:block;"); //显示div
      }
      EmptyViewHandleMethod(datas.length);
      if (!SearchDataTablesElment) {
        SearchDataTablesElment = $('#PostSearchResults').DataTable({
          data: datas,
          autoWidth: false,
          ordering: false,
          searching: false,
          lengthChange: false,
          pageLength: 4,
          info: false,
          iShowPages: 3,
          pagingType: "cutsomPage",
          footerCallback: function(tfoot, data, start, end, display) {

            var keyWorkd = "<span style='color: #6281c8;font-weight: bold;'>" + $("#PostSearchInput").val() + "</span>";

            var title = "查询[" + keyWorkd + "]结果共" + data.length + "个,总耗时" + times / 1000 + "秒";

            $("#infomessagelabel").html(title);
          },
          columns: [{
            title: ""
          }]
        });
      } else {
        SearchDataTablesElment.clear().rows.add(datas).draw();
      }



    });
  };

  $(document).ready(function() {

    InitSearchInterfaceMethod();
  });
</script>
